@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:wght@100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0px !important;
  padding: 0;
  font-family: 'montserrat', sans-serif;
}

/*width*/
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/*track*/
::-webkit-scrollbar-track {
  background: #222a35;
}

/*handle*/
::-webkit-scrollbar-thumb {
  background: #575c55;
  border-radius: 6px;
}

/*handle hover*/
::-webkit-scrollbar-thumb:hover {
  background: #626978;
}
